$animationDuration: 0.5s; 
%fit-box {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

/* 改变主题色变量 */
$--color-primary: #435C70;
$--color-primary: #127A85;

/* 改变 icon 字体路径变量，必需 */
$--font-path: '~element-ui/lib/theme-chalk/fonts';

@import "~element-ui/packages/theme-chalk/src/index";
@import "./common.scss";
@import "./scss/font-awesome.scss";
@import "~vue2-animate/src/sass/vue2-animate.scss";

* {
    position: relative;
    font-family: 'Nunito', sans-serif, Microsoft JhengHei;
}

@media print{@page {size: landscape}}

.gmnoprint {
    display: none;
}

.fit-box {
    @extend %fit-box;
}

ul {
    margin: 0;
    padding: 0;

    li {
        list-style: none;
    }
}
@media (min-width: 1600px) {
    .container {
        max-width: 1600px;
    }
}
@media (max-width: 1280px) {
    .container {
        max-width: 100%;
    }
}

.panel {
    margin-top: 20px;

    .panel-title {
        font-weight: 700;
        margin-bottom: 10px;
        padding-bottom: 10px;
        border-bottom: #ccc solid thin;
    }
    .panel-content {

        .grid {
            display: flex;
            flex-wrap: wrap;

            .source-region, .item {
                flex: 0 0 33.333333333%;
                margin: 0 0 10px 0;
            }
        }
    }
}

#app {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

    #site-content {

        #condition-panel {
            @extend %fit-box;
            padding: 15px 25px;
            right: initial;
            width: 450px;
            background-color: #fff;
            box-shadow: 2px 2px 12px -2px #636b6f;
            font-size: 13px;
        }
        #map {
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            transition: all .5s;

            &.show-panel {
                left: 450px;
            }
        }
        #bg-mask {
            @extend %fit-box;
            background-color: rgba($color: #000000, $alpha: .9);
        }
        #methods-bar {
            @extend %fit-box;
            bottom: initial;
            
            .open-form-btn {
                height: 20px;
                width: 70px;
                margin-top: 10px;
                background-color: #fff;
                border: none;
                overflow: hidden;
                box-shadow: 2px 2px 12px -2px rgba($color: #000000, $alpha: .5);
                
                i {
                    position: absolute;
                    top: 0px;
                    left: 50%;
                    transform: translateX(-50%);

                    &.fa-sort-asc {
                        top: 6px;
                    }
                }
            }
        }
        #info-panel {
            @extend %fit-box;

            .info-form {
                margin-top: 40px;
                padding: 20px 25px;
                background-color: #fff;
                width: 550px;
                height: auto;
                border-radius: 3px;
                box-shadow: 2px 2px 12px -2px rgba($color: #000000, $alpha: .5);

                h2 {
                    font-size: 24px;
                    font-weight: 700;
                    margin-bottom: 15px;
                }
                table {
                    table-layout: fixed;
                    font-size: 12px;
                    
                    tr {
                        td {
                            vertical-align: middle;
                            padding: 7.5px 0;

                            label {
                                margin-right: 30px;
                                margin-bottom: 0;

                                &:last-child {
                                    margin-right: 0;
                                }
                            }
                            input[type=text], input[type=email], select {
                                height: 22px;
                            }
                        }
                    }
                }
                .info-submit-btn {
                    padding-left: 30px;
                    padding-right: 30px;
                }
            }
        }
    }
    #site-header {
        background-image: url('../assets/bar-bg.jpg');
        background-repeat: no-repeat;
        background-size: cover;
        box-shadow: 2px 2px 12px -2px rgba($color: #000000, $alpha: .5);
        z-index: 1;

        .header-logo {
            padding: 10px 0;
            img {
                max-height: 80px;
                max-width: 100%;
            }
        }
        .header-right-side {
            display: flex;
            align-items: center;
            justify-content: flex-end;
            
            .user-info-bar {
                display: flex;
                align-items: center;
                justify-content: center;
                padding: 10px 15px;
                background-color: white;
                border-radius: 3px;
                box-shadow: 2px 2px 12px -2px rgba($color: #000000, $alpha: .5);

                .user-identity {
                    padding: 0 15px;
                    border-right: #ccc thin solid;
                }
                a {
                    display: inline-block;
                    margin-left: 15px;
                    color: inherit;
                }
            }
            ul.header-menu {
                width: fit-content;
                height: fit-content;
                margin: 0 12px;
    
                li {
                    display: inline-block;
                    color: white;
    
                    a {
                        position: relative;
                        display: inline-block;
                        color: white;
                        padding: 0px 30px;
    
                        &::after {
                            position: absolute;
                            content: '';
                            background: white;
                            width: 1px;
                            height: 60%;
                            right: 0;
                            top: 50%;
                            transform: translateY(-50%);
                        }
                    }
                    &:last-child {
                        a {
                            &::after {
                                content: none;
                            }
                        }
                    }
                }
            }
        }
    }
    #site-footer {
        background-image: url('../assets/bar-bg.jpg');
        background-repeat: no-repeat;
        background-size: cover;
        padding: 8px;
        color: white;
        
        .copyright {
            text-align: center;
            font-size: 14px;
            color: white;
            display: flex;
            justify-content: center;
            align-items: center;
        }
        .version {
            color: white;
            text-align: right;
        }
    }
}